body {
	background-color:#E9EAED;
	background-size:100% 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
header {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
	background-color:#FFF;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-o-border-radius:0px 0px 10px 10px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.wrapper{
	margin: auto;
	width: 960px;
	height:50px;
	margin-bottom:30px;
	vertical-align: baseline;
}
.logo{
	margin-left: 5px; 
	height:50px;
	width:150px;
}
.user-task-bar{
	margin:9px;
	float: right;
	position: relative;
	right: 2%;
}
.user-task-bar ul{
	float:left;
	margin-left:1.5em;
	margin-bottom:0;
}
.user-task{
	position:relative;
}
.user-task li{
	position:relative;
}
.user-task li ul.sub{
	position:absolute;
	display:none;
}
.user-task li:hover ul.sub{
	display:block;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
ul.sub{
	border-radius:0.3em;
	width:100px;
}
ul.sub li a{
	color: #FFF;
	font-size: 0.8em;
	padding: 0.2em 1em;
	display: block;
	text-transform: uppercase;
	font-weight:600;
}
ul.sub li a:hover{
	color:#21B8C6;
}
ul.sub{
	margin: 0;
	top: 2.2em;
	background: #475965;
	padding: 0.5em 0;
	z-index: 999;
}
ul.sub li a:hover{
	text-decoration:none;
}
.rel_post_check{
	float: right;
	width: 8.3333%;
}
.rel_post_check a{
	display: block;	
}
.checkbox {
	position: relative;
}
.checkbox i {
	cursor:pointer;
	position: absolute;
	bottom: -42px;
	left: 0;
	display: block;
	width: 32px;
	height: 32px;
	outline: none;
	border: 2px solid #DDDDDD;
}

.completed + i:after{
	position: absolute;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
	content: '';
	background: url("../icons/check-24.png");
	top: 3px;
	left: 4px;
	width: 24px;
	height: 24px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
	cursor: pointer;
	opacity: 1;
}
.notcompleted + i:after{
	position: absolute;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
	background: url("../icons/uncheck-24.png");
	content: '';
	top: 3px;
	left: 4px;
	width: 24px;
	height: 24px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
	cursor: pointer;
	opacity: 1;
}

.checkbox input {
	position: absolute;
	left: -9999px;
}

/* btn_style*/
.btn_style.blue{
	background: #0013ff;
	border-bottom: 1px solid #615B99;
}
.btn_style.brown{
	background: #B47859;
	border-bottom: 1px solid #976043;
}
.btn_style.lightblue{
	background: #5981AC;
	border-bottom: 1px solid #5981AC;
}
.btn_style.lightgreen{
	background: #688B78;
	border-bottom: 1px solid #688B78;
}
.btn_style.lightbrown{
	background: #B09471;
	border-bottom: 1px solid #B09471;
}
.btn_style{
	background-color:#B8BEC2;
	width:100%;
	display:inline-block;	
	box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
	-moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
	-o-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}
.btn_style h4{
	font-weight:600;
	padding: 10px 10px;
	color: #ffffff;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
}
.icon-dropdown{
	float:right;
}
.wrapper-dropdown-3 {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding: 16px 15px;

    /* Styles */
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.wrapper-dropdown-3 i.dropdown-icon{
	width:36px;
	height:36px;
	display:block;
	background:url(../icons/list-32.png) no-repeat;
}

.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width:160px;
    margin-top:10px;
    /* Styles */
    background:#0c203c;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    z-index:100!important;
}
.wrapper-dropdown-3 .dropdown li{
	margin-bottom: 0px;
}
.wrapper-dropdown-3 .dropdown li:first-child a{
	border-top:none;
}
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#9DAEC0;
    font-size:0.8em;
    border-top:1px solid #243750;
    padding: 15px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
/* Hover state */
.wrapper-dropdown-3 .dropdown li:hover a {
    color: #FFF;
    background:#2da5da;
}
/* Active state */
.wrapper-dropdown-3.active {
    background: #FFF;
    color:#FFF;
	border-radius: 0px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
	-moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
	-o-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
}
.wrapper-dropdown-3.active .dropdown {
    max-height: 400px;
}
/*---start-top-search-box-----*/
.top-search-box{
	float: left;
	background: #FFF;
	margin:2.5% 0% 0px 2%;
	padding:3px 0px 3px 0px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	width: 70%;
}
.top-search-box input[type="text"]{
	background: none;
	border: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	color:black;
	font-size:0.8em;
	font-style: italic;
	padding:5px;
	width:88%;
	margin:0;
	display:inline-block;
}
.top-search-box input[type="text"]:focus{
	color:#black;
}
.top-search-box input[type="submit"]{
	background: url(../icons/search-24.png) no-repeat #FFF 50%;
	border: none;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	padding:7px 13px;
	outline: none;
	cursor: pointer;
	margin:0;
	float:right;
	margin-right:3px;
}
/*---End-top-search-box-----*/
/* user-info*/
.cover{
	margin-bottom: -4px;
}
.cover img{
	width: 100%;
}
.user{
	position: relative;
}
.user-info{
	position: absolute;
	top: -130px;
	left: 30px;
	display: inline-flex;
}
.avatar a img{
	width:100px;
	height:100px;
	border: 5px solid #B9B9B9;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	-o-border-radius: 75px;
}
.avatar a img:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.8;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.user-detail {
	margin-left: 20px;	
}
.user-detail h4 a{
	display:block;
	font-size: 1.2em;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	margin-top: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.user-detail h4 a:hover{
	color: #D4BCD4;
}
.user-detail span.new{
	background: url('../images/loc.png')  no-repeat 0px 5px;
}
.user-detail span{
	font-size: 0.9725em;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 400;
	padding-left: 20px;
}
.user-statistics{
	padding: 30px;
	background: #FFF;
	text-align:center;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-o-border-radius:0px 0px 10px 10px;
}
.user-statistic{
	float: left;
	width: 47.33333%;
	margin-left: 4.3333%;
	border-left: 1px solid rgba(235, 175, 201, 0.6);
}
.user-statistic:first-child{
	margin-left: 0;
	border-left: none;
}
.user-statistic p {
	display: block;
	color: black;
	font-size: 1em;
	text-transform: capitalize;
	font-weight: 400;
}
.user-statistic a {
	display: block;
	color: #ffffff;
	font-size: 2em;
	font-weight: 100;
}
.profile-menu{
	padding: 15px;
	background: rgba(255, 255, 255, 0.18);
	text-align:left;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-o-border-radius:0px 0px 10px 10px;
}
.profile-menu a {
	padding-top:10px;
	display: block;
	color: #ffffff;
	font-size: 1.2em;
	font-weight: 100;
}
/* badge shelf */
.loader_left{
	position: relative;
	padding: 3px;
	background: #FFF;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
}
.loader_left a {
	display:block;
	color: #blue;
	text-align:right;
	font-size: 1em;
	text-transform: capitalize;
	font-weight: 400;
}
.loader_right{
	position: relative;
	padding: 3px;
	background: rgba(255, 255, 255, 0.18);
}
.loader_right a {
	display:block;
	color: #ffffff;
	text-align:right;
	font-size: 1em;
	text-transform: capitalize;
	font-weight: 400;
}
.badge-photos{
	padding:1%;
}
.badge-photos li{
	float:left;
	width:29.3333%;
	padding:2%;
}
.badge-photos li a{
	display:block;
}
.badge-photos li a img{
	display:block;
	width:100%;
}
.badge-photos-big{
	padding:1%;
}
.badge-photos-big li{
	float:left;
	width:17%;
	padding:1.5%;
}
.badge-photos-big li a{
	display:block;
}
.badge-photos-big li a img{
	display:block;
	width:100%;
}
/* Point display */
.point_img{
	position: relative;
	margin-bottom: -4px;
}
.point_img img{
	height: 100px;
	width: 100%;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
}
.point_title{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.point_title h4{
	display: block;
	font-size: 1.2em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
}
.point_title span {
	font-size: 0.9725em;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 400;
}
/***** Tasks ******/
.tasks{
	float:left;
	width:100%;
}
.tasks li{
	padding:2%;
	margin-bottom:0px;
}
.task_bg{
	background-color:#FFF;
}
.tasks li:first-child{
	border-top: 1px solid #d5d6d8; */
	margin-top:0;
}
.task_img{
	float:left;
	width:50px;
	heigth:50px;
	margin-right:10px;
}
.task_img img{
	width:50px;
	height:50px;
}
.task{
	float:left;
	width:88%;	
}

.task a{
	font-size:1.1em;
	color:#3B5998;
	font-weight:600;
	margin-right:10px;
}
.task a:hover{
	color:#D0EDFD;
	text-decoration:underline;
}
.title{
	font-size:18px;
}
.titleCompleted{
	text-decoration: line-through;
}
.time{
	font-size:13px;'
}
.task p{
	font-size:0.8em;
	color:#84CBEC;
	line-height:1.8em;
	margin:0px;
}
.task p a{
	font-size:0.85em;
	color:#3B5998;
	text-transform:uppercase;
	font-weight:700;
	padding:0 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-left: 2px solid #0b5071;
}
.task p a:first-child{
	border-left:none;
	padding-left:0;
}
.task p a:hover{
	color:#3B5998;
}

.create-task-form{
	font-size: 62.5%;
	z-index: 1000 !important ;
}

.create-task-form label,input,select{
	display: block;
}

.create-task-form input.text,select {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

.create-task-form fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.create-task-form h1 {
	font-size: 1.2em;
	margin: .6em 0;
}

/* start copy_rights*/
.copy{
	background: #FFF;
	text-align:center;
}
.copy p{
	font-size: 0.8125em;
	color: blue;
	line-height: 1.8em;
	text-transform:uppercase;
}
.copy p a{
	color: #D399A5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.copy p a:hover{
	color: blue;
}

.custom-clear{clear:both;}